# Server Config
PORT=5000
NODE_ENV=development

# Database
# Replace this with your local or Atlas MongoDB URI
MONGO_URI=mongodb://localhost:27017/context_db_example 

# Security
# Generate a random string for this in your local .env
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRES_IN=30d